<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SauceDemoSuite" parallel="false">
    <listeners>
        <listener class-name="com.saucedemo.listeners.TestListener"/>
    </listeners>
    <test name="SauceDemoTests">
        <classes>
            <class name="com.saucedemo.tests.LoginTest"/>
            <class name="com.saucedemo.tests.InventoryTest"/>
            <class name="com.saucedemo.tests.ProductDetailsTest"/>
            <class name="com.saucedemo.tests.CartTest"/>
            <class name="com.saucedemo.tests.CheckoutInfoTest"/>
            <class name="com.saucedemo.tests.CheckoutOverviewTest"/>
            <class name="com.saucedemo.tests.CheckoutCompleteTest"/>
        </classes>
    </test>
</suite>
